index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Human Creative | Agencia Digital </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robotos" content="index,follow">
    <meta property="fb:app_id" content="">
    <meta name="description" content="Somos una agencia que brinda servicios comunicacionales 360º">
    <link rel="icon" href="public/img/icon.png" sizes="90x90">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="public/css/styles.css?update4">
  </head>
  <body>
    <header>
      <div class="header__contenedor container">
        <h1 class="header__contenedor--logotipo"><a href="index.html">Human Creative</a></h1>
        <div class="header__contenedor--icono" id="icon">
          <div class="icon-element"></div>
          <div class="icon-element"></div>
          <div class="icon-element"></div>
        </div>
        <nav id="nav">
          <ul class="nav__lista">
            <li class="nav__lista--item"><a class="item__link" href="#inicio">Inicio</a></li>
            <li class="nav__lista--item"><a class="item__link" href="#about">Nosotros</a></li>
            <li class="nav__lista--item"><a class="item__link" href="#services">Servicios</a></li>
            <!--li.nav__lista--item: a(href="#contact" class="item__link") Contacto-->
          </ul>
        </nav>
      </div>
    </header>
    <div class="banner">
      <div class="banner__container container">
        <div class="banner__column">
          <div class="banner__header">
            <h2>Implementamos estrategias de comunicación</h2>
            <p class="description">Brindamos servicios comunicacionales 360º, diseñamos e implementamos estrategias de comunicación e imagen digital, para lograr los objetivos de nuestros clientes.</p>
            <div class="banner__header--button"><a class="hover-btn" href="#about">Conócenos</a></div>
          </div>
        </div>
        <div class="banner__column"></div>
      </div>
    </div>
    <main>
      <div class="about" id="about">
        <div class="about__container container">
          <div class="about__column wow fadeInUp"></div>
          <div class="about__column"> 
            <div class="about__header">
              <h2 class="secondary-title">¿Qué son los servicios comunicacionales 360?</h2>
              <p class="description">Human Creative cuenta con Cuatro plataformas de negocio que convergen y potencian la una a la otra. Desarrollo Web, Redes Sociales, Servicios Audiovisuales y Relaciones Públicas. Estos procesos aseguran una consultoría exitosa para formar una arquitectura corporativa de acuerdo a su negocio, servicio o empresa.</p>
              <div class="about__header--button"><a class="hover-btn" href="#services">Nuestros Servicios</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="call">
        <div class="call__container container">
          <div class="call__header">
            <h2 class="secondary-title"> “No tenemos una oferta estándar. Cada proyecto es único, puede estar seguro de que cada una de nuestras ideas también.”</h2>
          </div>
        </div>
      </div>
      <div class="services" id="services">
        <div class="services__container container">
          <div class="services__item wow fadeInUp"><img src="public/img/services/service-1.svg" alt="Diseño Web"/>
            <h3>Diseño Web</h3>
            <p class="description">Crear una página web implica conocimiento de mercado, tendencias de los usuarios y saber que tecnologías podemos implementar en nuestra web.</p>
          </div>
          <div class="services__item wow fadeInUp"><img src="public/img/services/service-2.svg" alt="Redes Sociales"/>
            <h3>Redes Sociales</h3>
            <p class="description">Hoy en día las redes sociales han adquirido una importancia innegable, pues estamos en un mundo totalmente digital, es así que muchas marcas o empresas han atribuido su éxito a estas.</p>
          </div>
          <div class="services__item wow fadeInUp"><img src="public/img/services/service-3.svg" alt="Servicio Audiovisuales"/>
            <h3>Servicio Audiovisuales</h3>
            <p class="description">Nuestro equipo especialista en vídeo digital y realización audiovisual cuenta con la capacidad de generar contenidos de acuerdo a la línea gráfica que construiremos para usted.</p>
          </div>
          <div class="services__item wow fadeInUp"><img src="public/img/services/service-4.svg" alt="Relaciones Públicas"/>
            <h3>Relaciones Públicas</h3>
            <p class="description">La unidad de relaciones públicas desarrollará mecanismos de comunicación directa tanto con el público interno como el externo, fortaleciendo la imagen de la marca.</p>
          </div>
        </div>
      </div>
    </main>
    <!--include ../includes/clientes-->
    <footer>
      <div class="footer__contenedor container">
        <div class="footer__contenedor--informacion"><a class="logotipo" href="#inicio"><img src="public/img/imagotipo-negativo.png" alt="Human Creative"></a>
          <ul class="informacion__lista">
            <li class="informacion__lista--item"><a href="#inicio">Inicio</a></li>
            <li class="informacion__lista--item"><a href="#about">Nosotros</a></li>
            <li class="informacion__lista--item"><a href="#services">Servicios</a></li>
            <!--li.informacion__lista--item: a(href="#contact") Contacto-->
          </ul>
        </div>
        <div class="footer__contenedor--informacion">
          <p class="informacion__copy description">Copyright © Todos los Derechos Reservados</p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="public/js/main-min.js"></script>
  </body>
</html>

src/pug/pages/index.pug
extends ../config/template
append config
    - NombPagina = "Agencia Digital"
prepend styles
block contenido

    //--- B A N N E R
    //---------------
    .banner
        .banner__container.container
            .banner__column
                .banner__header
                    h2 Implementamos estrategias de comunicación
                    p.description Brindamos servicios comunicacionales 360º, diseñamos e implementamos estrategias de comunicación e imagen digital, para lograr los objetivos de nuestros clientes.
                    .banner__header--button
                        a(href="#about").hover-btn Conócenos
            .banner__column
    
    main
        //--- A B O U T 
        //---------------
        .about#about
            .about__container.container
                .about__column.wow.fadeInUp
                .about__column 
                    .about__header
                        h2.secondary-title ¿Qué son los servicios comunicacionales 360?
                        p.description Human Creative cuenta con Cuatro plataformas de negocio que convergen y potencian la una a la otra. Desarrollo Web, Redes Sociales, Servicios Audiovisuales y Relaciones Públicas. Estos procesos aseguran una consultoría exitosa para formar una arquitectura corporativa de acuerdo a su negocio, servicio o empresa.
                        .about__header--button
                            a(href="#services").hover-btn Nuestros Servicios

        //--- C A L L 
        //---------------
        .call
            .call__container.container
                .call__header
                    h2.secondary-title  “No tenemos una oferta estándar. Cada proyecto es único, puede estar seguro de que cada una de nuestras ideas también.”

        //--- S E R V I C E S 
        //---------------
        .services#services
            .services__container.container
                +services-item(
                    'public/img/services/service-1.svg',
                    'Diseño Web',
                    'Diseño Web',
                    'Crear una página web implica conocimiento de mercado, tendencias de los usuarios y saber que tecnologías podemos implementar en nuestra web.'
                )
                +services-item(
                    'public/img/services/service-2.svg',
                    'Redes Sociales',
                    'Redes Sociales',
                    'Hoy en día las redes sociales han adquirido una importancia innegable, pues estamos en un mundo totalmente digital, es así que muchas marcas o empresas han atribuido su éxito a estas.'
                )
                +services-item(
                    'public/img/services/service-3.svg',
                    'Servicio Audiovisuales',
                    'Servicio Audiovisuales',
                    'Nuestro equipo especialista en vídeo digital y realización audiovisual cuenta con la capacidad de generar contenidos de acuerdo a la línea gráfica que construiremos para usted.'
                )
                +services-item(
                    'public/img/services/service-4.svg',
                    'Relaciones Públicas',
                    'Relaciones Públicas',
                    'La unidad de relaciones públicas desarrollará mecanismos de comunicación directa tanto con el público interno como el externo, fortaleciendo la imagen de la marca.'
                )

prepend script-final
